# Secrets
.env
credentials/
client_secret*.json
token*.json

# Virtual environments
.venv/
venv/

# Generated content
downloads/
output/
thumbnails/
metadata/
logs/

# Media
*.mp3
*.wav
*.mp4

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Visual Studio
.vs/
*.user
*.suo

# Windows
Thumbs.db
Desktop.ini